body {
  background-image: url();
  align-content: flex-end;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'PT Serif', serif;
}

h1 {
  text-align: center;
}

#description {
  text-align: center;
}

#nav {
  background-color: lightskyblue;
}

#nav_wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

#nav ul li {
  display: inline-block;
}

#nav ul li:hover {
  background-color: lightskyblue;
}

#nav ul li a {
  padding: 15px;
}

#nav ul li a,
:visited {
  color: black;
  display: block;
  padding: 10 px;
  text-decoration: none;
}

#nav ul li a:hover {
  color: white;
  text-decoration: none;
}

#nav ul li:hover ul {
  display: block;
}

#nav ul ul {
  display: none;
  position: absolute;
  background-color: lightskyblue;
  border: 5px solid lightskyblue;
  border-top: 0;
  margin-left: -5px;
  min-width: 50px;
}

#nav ul ul li {
  display: block;
}

#nav ul ul li a,
visited {
  color: black;
}

#nav ul ul li a:hover {
  color: white;
}

h1 {
  color: black;
}

#resume {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}
.avatar_container {
  position: relative;
  top: 0;
  left: 0;
}
#profile_pic {
  width: 275px;
  margin: 10px auto;
  border: 10px solid lightskyblue;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

#background_image {
  position: relative;
  top: 0px;
  left: 20px;
  right: 20px;
}

.intro {
  padding: 0 20px;
  margin-top: 100px;
  text-align: center;
  background: #fff;
}

#links ul li {
}

#links {
  margin-left: 400px;
}

#links_nav,
:visited {
  color: White;
}

/* About */

.profile {
  padding: 0px 200px;
}

h2 {
  text-align: center;
}

.profile ul {
  list-style-type: none;
}

/*need to: 
block out paragraphs
animate homepage to occasionally party
*/

/*contact me*/

li {
  list-style-type: none;
  align-content: center;
}

#enterprise_container {
  overflow: hidden;
  animation-name: slidein;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-direction: initial;
  animation-iteration-count: infinite;
}

#enterprise {
  width: 200px;
}

@keyframes slidein {
  from {
    margin-right: 50%;
  }

  to {
    margin-right: 0%;
  }
}

#earth {
  width: 200px;
}
